{% extends 'base.html' %} {% block title %}Favorites{% endblock %} {%block
content%}
<div class="h1 mt-2 text-start">Favorites</div>
<div class="lead text-start" style="color: #868484">
  Parents claim no favorites, but with plants, we break the rules
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {%for plant in favorites %}
  <div class="col">
    <div class="card text-start" style="width: 18rem">
      <img
        class="card-img-top img-thumbnail"
        src="{{plant.image_url}}"
        alt="image for {{plant.name}}"
      />
      <div class="card-img-overlay">
        <button
          id="{{plant.api_id}}"
          role="submit"
          class="btn btn-light btn-sm rounded-circle fave-btn faved"
        >
          <i class="fa-solid fa-heart"></i>
        </button>
      </div>
      <div class="card-body text-center z-3">
        <a href="{{url_for('show_plant', plant_id=plant.api_id)}}">
          <h5 class="card-title">{{plant.name.title()}}</h5></a
        >
        <div class="row text-start">
          <div class="col">
            <span class="card-text"
              ><i class="fa-solid fa-sun" style="color: #ffd43b"></i>
              <p>
                <b>Amount of Sunlight:</b> {% set sunlight = plant.sunlight |
                replace('{', '') | replace('}', '') | replace('"', '') %} {{
                sunlight }}
              </p>
            </span>
          </div>
          <div class="col">
            <span class="card-text">
              <i class="fa-solid fa-droplet" style="color: #74c0fc"></i>
              <p>
                <b>Watering Frequency:</b> {{plant.watering_freq}} watering
                every {{plant.watering_value}} {{plant.watering_unit}}
              </p></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %}
