{% extends 'base.html' %} {% block title %}Favorites{% endblock %} {%block
content%}
<div class="h1 mt-2 text-start">Favorites</div>
<div class="lead text-start" style="color: #868484">
  Parents claim no favorites, but with plants, we break the rules
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {%for fave in favorites %}
  <div class="col">
    <div class="card text-start" style="width: 18rem">
      <img
        class="card-img-top img-thumbnail"
        src="{{fave.image}}"
        alt="image for {{fave.name}}"
      />
      <div class="card-img-overlay">
        <form class="like" action="">
          <button
            id="{{fave.id}}"
            role="submit"
            class="btn btn-light btn-sm rounded-circle fave-btn unfaved"
          >
            <i class="fa-solid fa-heart"></i>
          </button>
        </form>
      </div>
      <div class="card-body text-center z-3">
        <a href="{{url_for('show_plant', plant_id=fave.id)}}">
          <h5 class="card-title">{{fave.name.title()}}</h5></a
        >
        <div class="row">
          <div class="col">
            <span class="card-text">Full Sun</span>
          </div>
          <div class="col">
            <span class="card-text">Frequent</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %}
