{% extends 'base.html' %} {% block title %}Plant Parent🌵{% endblock %} {%block
content%}
<div class="container-fluid">
  <div class="row">
    <!-- Left side with text -->
    <div class="col-md-6 my-auto homepage-textbox">
      <div class="lh-lg font-monospace">
        <h1 class="h1 homepage">Plant Parent Is...</h1>
        <h3 class="h3 homepage">Plant Raising Made Easy</h3>
        <h3 class="h3 homepage">Your Ideal Plant🌿, Your Simple Guide</h3>
        <div class="row mt-4">
          <div class="col">
            <h4>New to Plant Parent?</h4>
            <a
              class="btn btn-primary homepage-btn border-0"
              href="/signup"
              role="button"
              >Sign Up Here</a
            >
          </div>
          <div class="col">
            <h4>Returning Members</h4>
            <a
              class="btn btn-primary homepage-btn border-0"
              href="/login"
              role="button"
              >Log In Here</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Right side with image -->
    <div class="col-md-6">
      <div class="homepage img-responsive">
        <img
          src="/static/media/Screenshot 2024-01-18 at 1.03.03 PM.png"
          class="img-fluid rounded pe-0 py-0"
          alt="woman holding plant"
        />
      </div>
    </div>
  </div>
</div>
{% endblock %}
