{% extends 'base.html' %} {% block title %}Welcome Back{% endblock %} {%block
content%}

<div class="h1 mt-2 text-center">Welcome back {{g.user.username}}</div>
<!-- ********search form**************** -->
<div class="container mb-3" id="search-form">
  <form action="/search">
    <div class="row">
      <div class="mb-3 col-md-9">
        <input
          role="search"
          class="form-control form-control-sm"
          placeholder="Search for your next plant baby🌿"
          name="q"
        />
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-outline-success btn-sm">
          Search
        </button>
      </div>
    </div>
    <div id="adv-search" class="mx-auto">
      <p class="mb-0"><b>Advanced Search Preferences</b></p>

      <div class="mb-3 form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          name="indoor"
          value="1"
          id="indoorCheckbox"
        />
        <label class="form-check-label" for="indoorCheckbox"
          >indoor plants</label
        >
      </div>
      <div class="mb-3 form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          name="edible"
          value="1"
          id="edibleCheckbox"
        />
        <label class="form-check-label" for="edibleCheckbox"
          >edible plants</label
        >
      </div>

      <!-- radio group watering -->
      <div class="row">
        <div class="col-md-6">
          <p class="mb-0"><b>Watering Frequency</b></p>
          <div class="form-check watering">
            <input
              class="form-check-input"
              type="radio"
              name="watering"
              id="wateringFrequent"
              value="frequent"
            />
            <label class="form-check-label" for="wateringFrequent">
              Frequent
            </label>
          </div>
          <div class="form-check watering">
            <input
              class="form-check-input"
              type="radio"
              name="watering"
              id="wateringAverage"
              value="average"
            />
            <label class="form-check-label" for="wateringAverage">
              Average
            </label>
          </div>
          <div class="form-check watering">
            <input
              class="form-check-input"
              type="radio"
              name="watering"
              id="wateringMinimum"
              value="minimum"
            />
            <label class="form-check-label" for="wateringMinimum">
              Minimum
            </label>
          </div>
          <div class="form-check watering">
            <input
              class="form-check-input"
              type="radio"
              name="watering"
              id="wateringNone"
              value="none"
            />
            <label class="form-check-label" for="wateringNone"> None </label>
          </div>
        </div>
        <!-- radio group sunlight -->
        <div class="col-md-6">
          <p class="mb-0"><b>Sunniness</b></p>
          <div class="form-check sunlight">
            <input
              class="form-check-input"
              type="radio"
              name="sunlight"
              id="fullSun"
              value="full_sun"
            />
            <label class="form-check-label" for="fullSun"> Full Sun </label>
          </div>
          <div class="form-check sunlight">
            <input
              class="form-check-input"
              type="radio"
              name="sunlight"
              id="sun-partShade"
              value="sun-part_shade"
            />
            <label class="form-check-label" for="sun-partShade">
              Sun with Some Shade
            </label>
          </div>
          <div class="form-check sunlight">
            <input
              class="form-check-input"
              type="radio"
              name="sunlight"
              id="partShade"
              value="part_shade"
            />
            <label class="form-check-label" for="partShade"> Part Shade </label>
          </div>
          <div class="form-check sunlight">
            <input
              class="form-check-input"
              type="radio"
              name="sunlight"
              id="fullShade"
              value="full_shade"
            />
            <label class="form-check-label" for="fullShade"> Full Shade </label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- ******************our picks*********** -->
<h4 class="text-start">our picks:</h4>
<div class="container text-center">
  <div class="row g-3">
    {% for plant in plants %}
    <div class="col">
      <div
        class="card p-3 results"
        id="{{plant.id}}"
        style="width: 18rem; height: 21rem"
      >
        {% if plant.default_image.thumbnail %}
        <img
          class="card-img-top"
          src="{{plant.default_image.thumbnail}}"
          alt="picture of {{plant.common_name}}"
        />
        {% else %}
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png?20210219185637"
          alt="no image available logo"
        />
        {% endif %}
        <div class="card-body">
          <a href="{{url_for('show_plant', plant_id=plant.id)}}">
            <h5 class="card-title">{{plant.common_name.title()}}</h5></a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
