{% extends 'base.html' %} {% block title %}Welcome Back{% endblock %} {%block
content%}

<div class="h1 mt-2 text-center">Welcome back {{g.user.username}}</div>
<!-- ********search form**************** -->
<div class="container mb-3" id="search-form">
  <form action="/search">
    <input
      role="search"
      class="form-control"
      placeholder="Search for your next plant baby🌿"
      name="q"
    />
    <button class="btn btn-outline-success my-3" type="submit">Search</button>
  </form>
</div>
<!-- ******************our picks*********** -->
<h4 class="text-start">our picks:</h4>
<div class="container text-center">
  <!-- <div class="row row-cols-1 row-cols-md-4 g-2"> -->
  <div class="row g-3">
    {% for plant in plants %}
    <div class="col-md-3 col-xs-1 mb-3">
      <div class="card p-3" style="width: 18rem">
        {% if plant.default_image.thumbnail %}
        <img
          src="{{plant.default_image.thumbnail}}"
          class="card-img-top"
          alt="picture of {{plant.common_name}}"
        />
        {% else %}
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png?20210219185637"
          alt="no image available logo"
        />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{plant.common_name.title()}}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
