{% extends 'base.html' %} {% block title %}{{search_term}} Search{% endblock %}
{%block content%}

<!-- ******************results*********** -->
<h4 class="text-start">results for {{search_term}}:</h4>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for result in results %}
  <div class="col">
    <div
      class="card results"
      id="{{result.id}}"
      style="width: 18rem; height: 21rem"
    >
      {% if result.default_image.thumbnail %}
      <img
        class="card-img-top img-thumbnail"
        src="{{result.default_image.thumbnail}}"
        alt="picture of {{result.common_name}}"
      />
      {% else %}
      <img
        class="card-img-top img-thumbnail"
        src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png?20210219185637"
        alt="no image available logo for {{result.common_name}}"
      />
      {% endif %} {% for plant in g.user.favorites%} {% if plant.api_id|int ==
      result.id|int %}
      <div class="card-img-overlay">
        <button
          type="button"
          class="btn btn-light btn-sm rounded-circle fave-btn faved"
          id="{{result.id}}"
          role="submit"
        >
          <i class="fa-solid fa-heart"></i>
        </button>
      </div>
      {% else %}
      <div class="card-img-overlay">
        <button
          type="button"
          class="btn btn-light btn-sm rounded-circle fave-btn unfaved"
          id="{{result.id}}"
          role="submit"
        >
          <i class="fa-solid fa-heart"></i>
        </button>
      </div>
      {% endif %} {% endfor %}
      <div class="card-body text-center z-3 overflow-auto">
        <a href="{{url_for('show_plant', plant_id=result.id)}}">
          <h5 class="card-title">{{result.common_name.title()}}</h5></a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
