{% extends 'base.html' %} {% block title %}{{search_term}}{% endblock %} {%block
content%}

<!-- ******************results*********** -->
<h4 class="text-start">results for {{search_term}}:</h4>
<div class="container text-center">
  <div class="row g-3">
    {% for result in results %}
    <div class="col-md-3 col-xs-1 mb-3">
      <div class="card p-3 results" id="{{result.id}}" style="width: 18rem">
        {% if result.default_image.thumbnail %}
        <img
          class="card-img-top"
          src="{{result.default_image.thumbnail}}"
          alt="picture of {{result.common_name}}"
        />
        {% else %}
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png?20210219185637"
          alt="no image available for {{result.common_name}}"
        />
        {% endif %}
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <a href="{{url_for('show_plant', plant_id=result.id)}}">
                <h5 class="card-title">{{result.common_name.title()}}</h5></a
              >
            </div>

            <div class="col-2">
              <form action="" class="like">
                <button
                  class="btn btn-lg like-btn"
                  id="{{result.id}}"
                  role="submit"
                >
                  <i class="fa-solid fa-heart"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock %}
</div>
